/*----Colors-----*/
$title-color: #f2f2f2;
$question-color: #2f527b;
$answer-color: #6066d0cc;
$answer-border: #6066d0b2;
$wrong-color: #ea8282;
$true-color: #60bf88;
$hover-color: #f9a826;
$result-color: #1d355d;
$white: #ffffff;

/*----Border Radius---*/

$rounded-sm: 12px;
$rounded-md: 24px;
